# Port on which the web dashboard runs (Internal)
PORT=5050

# MongoDB connection string
MONGO_URI=mongodb://127.0.0.1:27017/finvibes_ipo

# WhatsApp Community Invite Link
COMMUNITY_INVITE_LINK=https://chat.whatsapp.com/BUbMjwEPEHjBEkJ22LdxBj

# Target WhatsApp Group JID
WHATSAPP_TARGET_GROUP_JID=120363409446063630@g.us
